@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-nav-bar: rgb(185, 0, 0);
    --color-footer: rgb(79, 0, 0);

    --color-text: white;

    --gradient-bg: radial-gradient(circle, rgba(184, 6, 6, 1) 0%, rgb(82, 0, 0) 100%);
}

nav {
    background-color: var(--color-nav-bar);
}

a.btn {
    color: var(--color-text);
}

body {
    color: var(--color-text);
    background-image: var(--gradient-bg);
    font-family: "Montserrat", sans-serif;
}

footer {
    background-color: var(--color-footer);
}

/* Bootstrap override */
.btn-primary {
    --bs-btn-bg: #f75f00;
    --bs-btn-border-color: #e55800;
    --bs-btn-hover-bg: #d85300;
    --bs-btn-hover-border-color: #c44b00;
    --bs-btn-active-bg: #e82700;
    --bs-btn-active-border-color: #cf2300;
}