@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-nav-bar: rgb(92, 0, 0);

    --color-text: white;

    --gradient-bg: radial-gradient(circle, rgba(184, 6, 6, 1) 0%, rgba(125, 0, 0, 1) 100%);
}

nav {
    background-color: var(--color-nav-bar);
}

a.btn {
    color: var(--color-text);
}

body {
    color: var(--color-text);
    background-image: var(--gradient-bg);
    font-family: "Montserrat", sans-serif;
}